USE [master]
GO
/****** Object:  Database [InfSec]    Script Date: 09.06.2023 18:09:06 ******/
CREATE DATABASE [InfSec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InfSec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\InfSec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InfSec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\InfSec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InfSec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InfSec]
GO
/****** Object:  Table [dbo].[Activnosti]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activnosti](
	[Id] [int] NOT NULL,
	[NomerMeropriyatiya] [int] NOT NULL,
	[Nazvaniye] [nvarchar](50) NOT NULL,
	[Den] [int] NOT NULL,
	[VremyaNachala] [time](7) NOT NULL,
	[Moderator] [int] NOT NULL,
	[Zhuri_1] [int] NULL,
	[Zhuri_2] [int] NULL,
	[Zhuri_3] [int] NULL,
	[Zhuri_4] [int] NULL,
	[Zhuri_5] [int] NULL,
 CONSTRAINT [PK_Activnosti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goroda]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goroda](
	[Id] [int] NOT NULL,
	[Nazvaniye] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Goroda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meropriyatiya]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meropriyatiya](
	[Nomer] [int] NOT NULL,
	[Naimenovaniye] [nvarchar](100) NOT NULL,
	[DataNachala] [date] NOT NULL,
	[Dni] [int] NOT NULL,
	[Pobeditel] [int] NOT NULL,
 CONSTRAINT [PK_Meropriyatiya] PRIMARY KEY CLUSTERED 
(
	[Nomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Napravleniya]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Napravleniya](
	[Id] [int] NOT NULL,
	[Napravleniye] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Napravleniya] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pol]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pol](
	[Id] [int] NOT NULL,
	[Nazvaniye] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Pol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polzovately]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polzovately](
	[Id] [int] NOT NULL,
	[Role] [int] NOT NULL,
	[Familiya] [nvarchar](50) NOT NULL,
	[Imya] [nvarchar](50) NOT NULL,
	[Otchestvo] [nvarchar](50) NULL,
	[Pochita] [nvarchar](100) NOT NULL,
	[DataRozhdeniya] [date] NOT NULL,
	[Strana] [int] NOT NULL,
	[Telephone] [nvarchar](11) NOT NULL,
	[Parole] [nvarchar](40) NOT NULL,
	[Photo] [nvarchar](20) NOT NULL,
	[Pol] [int] NOT NULL,
	[Napravleniye] [int] NULL,
	[VidMeropriyatiya] [nvarchar](100) NULL,
 CONSTRAINT [PK_Polzovately] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roli]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roli](
	[Id] [int] NOT NULL,
	[Nazvaniye] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Roli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sobitiya]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sobitiya](
	[Nomer] [int] NOT NULL,
	[Photo] [nvarchar](20) NOT NULL,
	[Nazvaniye] [nvarchar](200) NOT NULL,
	[Data] [date] NOT NULL,
	[Dni] [int] NOT NULL,
	[Gorod] [int] NOT NULL,
 CONSTRAINT [PK_Sobitiya] PRIMARY KEY CLUSTERED 
(
	[Nomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strani]    Script Date: 09.06.2023 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strani](
	[ChislovoyCode] [int] NOT NULL,
	[Nazvaniye] [nvarchar](100) NULL,
	[AnglNazvaniye] [nvarchar](100) NULL,
	[Code] [nvarchar](3) NULL,
 CONSTRAINT [PK_Strani] PRIMARY KEY CLUSTERED 
(
	[ChislovoyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Activnosti] ([Id], [NomerMeropriyatiya], [Nazvaniye], [Den], [VremyaNachala], [Moderator], [Zhuri_1], [Zhuri_2], [Zhuri_3], [Zhuri_4], [Zhuri_5]) VALUES (1, 1, N'Лидерство в бизнесе', 1, CAST(N'09:00:00' AS Time), 41, 31, NULL, 37, 36, 36)
INSERT [dbo].[Activnosti] ([Id], [NomerMeropriyatiya], [Nazvaniye], [Den], [VremyaNachala], [Moderator], [Zhuri_1], [Zhuri_2], [Zhuri_3], [Zhuri_4], [Zhuri_5]) VALUES (2, 1, N'Технология принятия решений', 2, CAST(N'10:45:00' AS Time), 42, 32, 33, 38, 37, 37)
INSERT [dbo].[Activnosti] ([Id], [NomerMeropriyatiya], [Nazvaniye], [Den], [VremyaNachala], [Moderator], [Zhuri_1], [Zhuri_2], [Zhuri_3], [Zhuri_4], [Zhuri_5]) VALUES (3, 1, N'Искусство коучинга', 2, CAST(N'12:30:00' AS Time), 43, 33, 34, NULL, 38, 38)
GO
INSERT [dbo].[Goroda] ([Id], [Nazvaniye]) VALUES (1, N'Абаза')
INSERT [dbo].[Goroda] ([Id], [Nazvaniye]) VALUES (2, N'Абакан')
INSERT [dbo].[Goroda] ([Id], [Nazvaniye]) VALUES (3, N'Абдулино')
GO
INSERT [dbo].[Meropriyatiya] ([Nomer], [Naimenovaniye], [DataNachala], [Dni], [Pobeditel]) VALUES (1, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 1)
INSERT [dbo].[Meropriyatiya] ([Nomer], [Naimenovaniye], [DataNachala], [Dni], [Pobeditel]) VALUES (2, N'Быстрее, выше, сильнее: как спорт помогает бизнесу и корпорациям ', CAST(N'2023-04-13' AS Date), 2, 2)
INSERT [dbo].[Meropriyatiya] ([Nomer], [Naimenovaniye], [DataNachala], [Dni], [Pobeditel]) VALUES (3, N'Встреча пользователей PTV в России ', CAST(N'2022-04-16' AS Date), 3, 3)
GO
INSERT [dbo].[Napravleniya] ([Id], [Napravleniye]) VALUES (1, N'Дизайн')
INSERT [dbo].[Napravleniya] ([Id], [Napravleniye]) VALUES (2, N'ИТ')
INSERT [dbo].[Napravleniya] ([Id], [Napravleniye]) VALUES (3, N'Биг Дата')
GO
INSERT [dbo].[Pol] ([Id], [Nazvaniye]) VALUES (1, N'мужчина')
INSERT [dbo].[Pol] ([Id], [Nazvaniye]) VALUES (2, N'женщина')
GO
INSERT [dbo].[Polzovately] ([Id], [Role], [Familiya], [Imya], [Otchestvo], [Pochita], [DataRozhdeniya], [Strana], [Telephone], [Parole], [Photo], [Pol], [Napravleniye], [VidMeropriyatiya]) VALUES (1, 1, N'Ершова', N'Нора', N'Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 643, N'79604240711', N'tKKevv8%', N'foto60.jpg', 2, NULL, N'')
INSERT [dbo].[Polzovately] ([Id], [Role], [Familiya], [Imya], [Otchestvo], [Pochita], [DataRozhdeniya], [Strana], [Telephone], [Parole], [Photo], [Pol], [Napravleniye], [VidMeropriyatiya]) VALUES (2, 1, N'Афанасьева', N'Жанна', N'Валентиновна', N'agapow@yahoo.com', CAST(N'1987-03-27' AS Date), 643, N'79604240712', N'huSfHm4$', N'foto61.jpg', 2, NULL, N'')
INSERT [dbo].[Polzovately] ([Id], [Role], [Familiya], [Imya], [Otchestvo], [Pochita], [DataRozhdeniya], [Strana], [Telephone], [Parole], [Photo], [Pol], [Napravleniye], [VidMeropriyatiya]) VALUES (3, 1, N'Крылова', N'Рая', N'Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1987-03-28' AS Date), 643, N'79604240713', N'TlUwMw77%', N'foto62.jpg', 2, NULL, N'')
GO
INSERT [dbo].[Roli] ([Id], [Nazvaniye]) VALUES (1, N'Участник')
INSERT [dbo].[Roli] ([Id], [Nazvaniye]) VALUES (2, N'Организатор')
INSERT [dbo].[Roli] ([Id], [Nazvaniye]) VALUES (3, N'Модератор')
GO
INSERT [dbo].[Sobitiya] ([Nomer], [Photo], [Nazvaniye], [Data], [Dni], [Gorod]) VALUES (1, N'1.jpeg', N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[Sobitiya] ([Nomer], [Photo], [Nazvaniye], [Data], [Dni], [Gorod]) VALUES (2, N'2.jpeg', N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[Sobitiya] ([Nomer], [Photo], [Nazvaniye], [Data], [Dni], [Gorod]) VALUES (3, N'3.jpeg', N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2)
GO
INSERT [dbo].[Strani] ([ChislovoyCode], [Nazvaniye], [AnglNazvaniye], [Code]) VALUES (4, N'Афганистан', N'Afghanistan', N'AF')
INSERT [dbo].[Strani] ([ChislovoyCode], [Nazvaniye], [AnglNazvaniye], [Code]) VALUES (8, N'Албания', N'Albania', N'AL')
INSERT [dbo].[Strani] ([ChislovoyCode], [Nazvaniye], [AnglNazvaniye], [Code]) VALUES (10, N'Антарктида', N'Antarctica', N'AQ')
GO
ALTER TABLE [dbo].[Activnosti]  WITH CHECK ADD  CONSTRAINT [FK_Activnosti_Meropriyatiya] FOREIGN KEY([NomerMeropriyatiya])
REFERENCES [dbo].[Meropriyatiya] ([Nomer])
GO
ALTER TABLE [dbo].[Activnosti] CHECK CONSTRAINT [FK_Activnosti_Meropriyatiya]
GO
ALTER TABLE [dbo].[Activnosti]  WITH CHECK ADD  CONSTRAINT [FK_Activnosti_Polzovately] FOREIGN KEY([Zhuri_1])
REFERENCES [dbo].[Polzovately] ([Id])
GO
ALTER TABLE [dbo].[Activnosti] CHECK CONSTRAINT [FK_Activnosti_Polzovately]
GO
ALTER TABLE [dbo].[Activnosti]  WITH CHECK ADD  CONSTRAINT [FK_Activnosti_Polzovately1] FOREIGN KEY([Zhuri_2])
REFERENCES [dbo].[Polzovately] ([Id])
GO
ALTER TABLE [dbo].[Activnosti] CHECK CONSTRAINT [FK_Activnosti_Polzovately1]
GO
ALTER TABLE [dbo].[Activnosti]  WITH CHECK ADD  CONSTRAINT [FK_Activnosti_Polzovately2] FOREIGN KEY([Zhuri_3])
REFERENCES [dbo].[Polzovately] ([Id])
GO
ALTER TABLE [dbo].[Activnosti] CHECK CONSTRAINT [FK_Activnosti_Polzovately2]
GO
ALTER TABLE [dbo].[Activnosti]  WITH CHECK ADD  CONSTRAINT [FK_Activnosti_Polzovately3] FOREIGN KEY([Zhuri_4])
REFERENCES [dbo].[Polzovately] ([Id])
GO
ALTER TABLE [dbo].[Activnosti] CHECK CONSTRAINT [FK_Activnosti_Polzovately3]
GO
ALTER TABLE [dbo].[Activnosti]  WITH CHECK ADD  CONSTRAINT [FK_Activnosti_Polzovately4] FOREIGN KEY([Zhuri_5])
REFERENCES [dbo].[Polzovately] ([Id])
GO
ALTER TABLE [dbo].[Activnosti] CHECK CONSTRAINT [FK_Activnosti_Polzovately4]
GO
ALTER TABLE [dbo].[Activnosti]  WITH CHECK ADD  CONSTRAINT [FK_Activnosti_Polzovately5] FOREIGN KEY([Moderator])
REFERENCES [dbo].[Polzovately] ([Id])
GO
ALTER TABLE [dbo].[Activnosti] CHECK CONSTRAINT [FK_Activnosti_Polzovately5]
GO
ALTER TABLE [dbo].[Meropriyatiya]  WITH CHECK ADD  CONSTRAINT [FK_Meropriyatiya_Polzovately] FOREIGN KEY([Pobeditel])
REFERENCES [dbo].[Polzovately] ([Id])
GO
ALTER TABLE [dbo].[Meropriyatiya] CHECK CONSTRAINT [FK_Meropriyatiya_Polzovately]
GO
ALTER TABLE [dbo].[Polzovately]  WITH CHECK ADD  CONSTRAINT [FK_Polzovately_Napravleniya] FOREIGN KEY([Napravleniye])
REFERENCES [dbo].[Napravleniya] ([Id])
GO
ALTER TABLE [dbo].[Polzovately] CHECK CONSTRAINT [FK_Polzovately_Napravleniya]
GO
ALTER TABLE [dbo].[Polzovately]  WITH CHECK ADD  CONSTRAINT [FK_Polzovately_Pol] FOREIGN KEY([Pol])
REFERENCES [dbo].[Pol] ([Id])
GO
ALTER TABLE [dbo].[Polzovately] CHECK CONSTRAINT [FK_Polzovately_Pol]
GO
ALTER TABLE [dbo].[Polzovately]  WITH CHECK ADD  CONSTRAINT [FK_Polzovately_Roli] FOREIGN KEY([Role])
REFERENCES [dbo].[Roli] ([Id])
GO
ALTER TABLE [dbo].[Polzovately] CHECK CONSTRAINT [FK_Polzovately_Roli]
GO
ALTER TABLE [dbo].[Polzovately]  WITH CHECK ADD  CONSTRAINT [FK_Polzovately_Strani] FOREIGN KEY([Strana])
REFERENCES [dbo].[Strani] ([ChislovoyCode])
GO
ALTER TABLE [dbo].[Polzovately] CHECK CONSTRAINT [FK_Polzovately_Strani]
GO
ALTER TABLE [dbo].[Sobitiya]  WITH CHECK ADD  CONSTRAINT [FK_Sobitiya_Goroda] FOREIGN KEY([Gorod])
REFERENCES [dbo].[Goroda] ([Id])
GO
ALTER TABLE [dbo].[Sobitiya] CHECK CONSTRAINT [FK_Sobitiya_Goroda]
GO
USE [master]
GO
